<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<groups>
		<run>
			<include name="low"></include>
			<include name="medium"></include>
		</run>
		<!-- <run>
			<exclude name="high"></exclude>
		</run> -->
	</groups>

	<test name="Test">
		<classes>
			<class name="testnglearning.TestGroups" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
